<%- include("./partials/header") %>
<div class="row justify-content-center" style="margin-top:80px;">
<h1 class="col-md-12 text-center">
	Login 
</h1>
	<div class="col-xs-12 col-md-9 col-lg-7">
		<form action="/login" method="POST">
			<div class="form-group">
				<input class="form-control" type="text" name="username" placeholder="username">
			</div>
			<div class="form-group">
				<input class="form-control" type="password" name="password" placeholder="password">
			</div>
			<div class="form-group">
				<button class="btn btn-primary btn-block">
				Login
				</button>
				<a href="/menu">Go back</a>
			</div>
		</form>
	</div>
</div>

<%- include("./partials/footer") %>